{% extends 'base.html.twig' %}

{% block main %}
    <main class="main">

          <div class="showQuestion">
            <div class="showQcontent">
              <div class="showQtitle">{{ question.title }}</div>
              <div class="showQtags">
              {% for tag in tags %}
                  <span class="showQtag">{{ tag.tagname }}</span>
              {% endfor %}
            </div>
            </div>
            <p class="showQbody"> {{ question.body}}</p>
              <p class="showQuser">posée par {{ question.user.username}}</p>
          {% if is_granted('ROLE_MODO')%}
          <span class="blocButton Qblock{% if question.blocked == true %} blockOn {% else %} blockOff {% endif %}">
            {% if question.blocked == false %}
              {{ include ('backendModo/question/_block.html.twig') }}
            {% else %}
              {{ include ('backendModo/question/_unblock.html.twig') }}
            {% endif %}
          </span>
          {% endif %}
          </div>
      {% for answer in answersByVal %}
          <div class="showAnswer
        {% if answer.validated == true %}validated{% endif %}
        {% if answer.blocked == true %}{% if is_granted('ROLE_MODO') == false %} blocked{% endif %}{% endif %}
        ">
            <p class="showAbody"> {{ answer.body}}</p>
              <div class="showAflex1">
                <p class="showAuser1">par {{ answer.user.username}}</p>
                <span class="valid">
                  {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == question.user.id %}
                      {% if answer.validated == false %}
                      {{ include ('backendUser/answer/_validate.html.twig') }}
                      {% else %}
                      {{ include ('backendUser/answer/_invalidate.html.twig') }}
                      {% endif %}
                  {% endif %}
                  {% if is_granted('ROLE_MODO')%}
                  <span class="blocButton {% if answer.blocked == true %} blockOn {% else %} blockOff {% endif %}">
                    {% if answer.blocked == false %}
                      {{ include ('backendModo/answer/_block.html.twig') }}
                    {% else %}
                      {{ include ('backendModo/answer/_unblock.html.twig') }}
                    {% endif %}
                  </span>
                  {% endif %}
                </span>
          </div>

          </div>
      {% endfor %}

        <div class="content">
          <div class="insider">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          {{ include('backendUser/answer/_answer.html.twig') }}
        {% else %}
        <p>Pour proposer une réponse , vous devez vous <a href="{{ path('login') }}">connecter</a> </p>
        {% endif %}
      </div>
    </div>
    </main>
{% endblock %}
