{% extends 'base.html.twig' %}



{% block main %}
<main class="main content">
  <div class="insider">

<a class="editProf" href="{{ path ('backendUser_profile_edit', {'id' : user.id}) }}">MODIFIER MON PROFIL</a>
        <div class="showUser">
            <p class="showU">Nom d'utilisateur : <span class="userProf">{{user.username}}</span></p>
            <p class="showU">E-Mail : <span class="userProf">{{user.email}}</span></p>
        </div>

        <p class="profCat">Mes Questions</p>
        {% for question in questions %}
            <div class="showQuestion">
              <a class="showQtitle" href="{{ path('question_show', {'id': question.id}) }}">{{(question.title)}}</a>
                <div class="showQbody">{{(question.body)}}</div>
            </div>
            {% endfor %}


        <p class="profCat">Mes Réponses</p>
          {% for answer in answers %}
          <div class="showAnswer">
            <div class="validatedAnswer">{% if answer.validated == true %}Cette réponse a été validée par l'utilisateur à l'origine de la question{% endif %}</div>
            <div class="showUaBody">{{(answer.body)}}</div>
            <span>à la question : </span><a href="{{ path('question_show', {'id': answer.question.id}) }}">{{(answer.question.body)}}</a>
          </div>
          {% endfor %}
        </div>
</main>
{% endblock %}
