<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>

        <header>
            <div class="container-fluid navigation">
                <div class="row">

                  <div class="col-3">
                  <h1>
                    <a class="nav-link" href="{{ path('home') }}">FAQ O'clock</a>
                  </h1>
                  </div>

                  <div class="col-9">
                      <ul class="nav justify-content-end">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                              <li class="nav-item">
                                <a class="nav-link menu" href="{{ path('backendUser_profile', {'id' : app.user.id}) }}">Profil</a>
                              </li>
                              {% if is_granted('ROLE_ADMIN') %}
                              <li class="nav-item">
                                <a class="nav-link menu" href="#">Panel</a>
                              </li>
                              {% endif %}
                              <li class="nav-item">
                                <a class="nav-link menu" href="{{ path('logout') }}">Déconnexion</a>
                              </li>
                          {% else %}
                              <li class="nav-item">
                                <a class="nav-link menu" href="{{ path('login') }}">Connexion</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link menu" href="{{ path('signup') }}">Inscription</a>
                              </li>
                          {% endif %}
                      </ul>
                  </div>

              </div>
            </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="bienvenue">
              <p class="">Bienvenue {{ app.user.username }}</p>
            </div>
            {% endif %}
          </header>

        <main>

            {% block main %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="askQuestion">
              <a href="{{ path('backendUser_create') }}">Poser une question</a>
            </div>
            {% endif %}

                <div class="questions row">
                    {% for question in questions %}
                        <div class="questionHome col-3">
                            <a href="{{ path('question_show', {'id': question.id}) }}">
                                {{ question.title }}
                            </a>
                            <p>par {{ question.user.username }}</p>

                        </div>
                    {% endfor %}
                </div>

            {% endblock %}

            {% block aside %}{% endblock %}


        </main>

        <footer>
          {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
